<Configuration>

  <appender name="CONSOLE" class="emu.lunarcore.util.LunarConsoleAppender" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/latest.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/log.%d{yyyy-MM-dd}_%d{HH}.log.gz</fileNamePattern>
      <maxHistory>24</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.reflections" level="OFF"/>
  <logger name="org.eclipse.jetty" level="OFF" />
  <logger name="de.bwaldvogel" level="ERROR" />
  <logger name="io.javalin" level="ERROR" />
  <logger name="org.mongodb.driver" level="ERROR" />
  <logger name="dev.morphia" level="ERROR" />
  
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</Configuration>
